@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Global Styles */

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

button.normal {
  font-size: 14px;
  height: 3.125rem;

  font-weight: 600;
  padding: 15px 30px;
  color: #000;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s ease;
}

button.white {
  font-size: 13px;
  height: 3.125rem;

  font-weight: 600;
  padding: 11px 18px;
  color: #fff;
  background-color: transparent;
  /* border-radius: 4px; */
  cursor: pointer;
  border: 1px solid #fff;
  outline: none;
  transition: 0.2s;
}



body {
  width: 100%;
}



/* header Start */
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background-color: #E3E6f3;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}



#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}

#navbar li {
  padding: 0 20px;
  position: relative;
}

#navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.3s ease;

}

#navbar li a:hover,
#navbar li a.active {

  color: #088178;
}

#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background-color: #088178;
  position: absolute;
  bottom: -4px;
  left: 20px;
  /* transition: 0.3s ease; */
}

#mobile {
  display: none;
  align-items: center;
  cursor: pointer;
}

#lg-bag {
  display: none;
}

#close {
  display: none;
}


/* home page */
#hero {
  background-image: url("img/hero4.png");
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-position: top 25% right 0;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

}

#hero h4 {
  padding: 15px;
}

#hero h1 {
  color: #088178;
}

#hero h2 {
  color: #222;
}


#hero #btn {
  background-image: url("img/button.png");
  background-color: transparent;
  color: #088178;
  border: 0;
  padding: 14px 80px 14px 65px;
  background-repeat: no-repeat;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;

}




#feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}





/* Shop page */
#feature .fe-box {
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
  border: 1px solid #cce7d0;
  border-radius: 4px;
  margin: 15px 0;
}

#feature .fe-box:hover {
  box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);

}

#feature .fe-box img {
  width: 100%;
  margin-bottom: 10px;
}

#feature .fe-box h6 {
  display: inline-block;
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 6px;
  color: #088178;
  background-color: #fddde4;
}


#feature .fe-box:nth-child(2) h6 {
  background-color: #cdebbc;
}

#feature .fe-box:nth-child(3) h6 {
  background-color: #d1e8f2;
}

#feature .fe-box:nth-child(4) h6 {
  background-color: #cdd4f8;
}

#feature .fe-box:nth-child(5) h6 {
  background-color: #f6dbf6;
}

#feature .fe-box:nth-child(6) h6 {
  background-color: #fff2e5;
}

#Product1 {
  text-align: center;

}

#Product1 .pro-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}

#Product1 .pro {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0;
  transition: 0.2s ease;
  position: relative;
}

#Product1 .pro:hover {

  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);

}

#Product1 .pro img {
  width: 100%;
  border-radius: 20px;

}

#Product1 .pro .des {
  text-align: start;
  padding: 10px 0;


}

#Product1.pro .des span {
  color: #8a8989;
  font-size: 12px;
}

#Product1.pro .des h5 {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
}

#Product1 .pro .des i {
  font-size: 12px;
  color: rgb(240, 225, 18);
}

#Product1 .pro .des h4 {
  padding-top: 7px;
  font-size: 15px;
  color: #088178;
  font-weight: 700;

}

#Product1 .pro .cart {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #e8f6ea;
  /* font-weight: 500; */
  color: #088178;
  border: 1px solid #cce7d0;
  position: absolute;
  bottom: 20px;
  right: 10px;

}


#banner {
  background-image: url("img/banner/b2.jpg");
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  line-height: 1;
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;


}

#banner h4,
h2 {
  color: white;
  line-height: 80px;


}

#banner span {
  color: red;
}

#banner .normal:hover {
  background: #088178;

}

#banner .normal:hover {
  background-color: #088178;
  color: #fff;
}

/* jjjjjjjjjjjjjjjj */
#Sm-banner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}


#Sm-banner .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url("img/banner/b17.jpg");
  /* min-width: 580px; */
  width: 45%;
  /* margin: 10px; */
  height: 50vh;
  background-size: cover;
  background-position: center;
  padding: 30px;
}

#Sm-banner h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
}

#Sm-banner h2 {
  color: #fff;
  font-size: 28px;
  font-weight: 800;
}

#Sm-banner span {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 15px;
}

#Sm-banner .banner-box:hover button {
  background-color: #088178;
  border: 1px solid #088178;
}

#Sm-banner #banner-box {
  background-image: url("img/banner/b10.jpg");

}

#banner3 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 80px;
}

#banner3 .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url("img/banner/b7.jpg");
  min-width: 30%;
  height: 30vh;
  background-size: cover;
  background-position: center;
  padding: 20px;
  margin-bottom: 20px;

}

#banner3 h2 {
  color: #fff;
  font-weight: 900;
  font-size: 20px;
}

#banner3 h3 {
  color: #ec544e;
  font-weight: 800;
  font-size: 13px;
}

#banner3 .banner-box2 {
  background-image: url("img/banner/b4.jpg");


}

#banner3 .banner-box3 {
  background-image: url("img/banner/b18.jpg");


}

#Newsletter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  /* margin: 20px; */
  background-image: url("img/banner/b14.png");
  background-repeat: no-repeat;
  background-position: 20% 30%;
  background-color: #041e42;
}

.newstexte h4 {
  color: #fff;
  font-size: 22px;
  font-weight: 700;
}

.newstexte p {
  color: #fff;
  font-size: 15px;
  font-weight: 600;
}

.newstexte p span {
  color: #ffbd27;

}

#Newsletter .form {
  display: flex;
  width: 40%;

}

#Newsletter input {
  height: 3.125rem;
  padding: 0 1.25erm;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;

  outline: none;

}

#Newsletter button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;

  background-color: #088178;
  color: #fff;
  white-space: nowrap;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

footer .logo {
  margin-bottom: 30px;
}

footer h4 {
  font-size: 14px;
  padding-bottom: 20px;
}

footer p {
  font-size: 13px;
  margin: 0 0 8px 0;
}

footer a {
  font-size: 13px;
  text-decoration: none;
  color: #222;
  margin-bottom: 10px;
}

footer.follow {
  margin-top: 20px;
}

footer .follow i {
  color: #465b52;
  padding-right: 4px;
  cursor: pointer;
}

footer .install .row img {
  border: 1px solid #088178;
  border-radius: 6px;
}

footer .install img {
  margin: 10px 0 15px 0;
}

footer .follow i:hover,
footer a:hover {
  color: #088178;
}

footer .copyright {
  width: 100%;
  text-align: center;
}

/* shop page */

#page-header {
  background-image: url("img/banner/b1.jpg");
  width: 100%;
  height: 40vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 14px;
}

#page-header h2,
#page-header p {
  color: #fff;

}

#pagination {
  text-align: center;
}

#pagination a {
  text-decoration: none;
  background-color: #088178;
  padding: 15px 20px;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;

}

#pagination a i {

  font-size: 16px;
  font-weight: 600;
}


/* single product */
#prodetalis {
  display: flex;
  margin-top: 20px;
}

#prodetalis .single-pro-img {
  width: 40%;
  margin-right: 50px;
}

.small-img-group {
  display: flex;
  justify-content: space-between;

}

.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
  border: 1px solid #cdebbc;
}

#prodetalis .single-pro-detalis {
  width: 50%;
  padding-top: 30px;

}

#prodetalis .single-pro-detalis h4 {
  padding: 40px 0 20px 0;
}

#prodetalis .single-pro-detalis h3 {
  padding: 40px 0 20px 0;
}

#prodetalis .single-pro-detalis select {
  display: block;
  padding: 5px 10px;
  margin-bottom: 10px;
}


#prodetalis .single-pro-detalis input {
  width: 50px;
  height: 47px;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;
}

#prodetalis .single-pro-detalis button {
  background-color: #088178;
  color: #fff;
}

#prodetalis .single-pro-detalis input {
  outline: none;
}

#prodetalis .single-pro-detalis span {
  line-height: 25px;
}




/* bolg page */
#page-header.blog-header {
  background-image: url("img/banner/b19.jpg");

}

#blog {
  padding: 150px 150px 0 150px;
}

#blog .blog-box {
  display: flex;
  align-items: center;
  width: 100%;
position: relative;
padding-bottom: 90px;
}

#blog .blog-img {
  width: 50%;
  margin-right: 40px;
}

#blog img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

#blog .blog-details {
  width: 50%;
}
#blog .blog-details a{
  text-decoration: none;
  font-size: 11px;
  color: #000;
  font-weight: 700;
  position: relative;
  transition: 0.3s;
}

#blog .blog-details a::after
{
content: "";
width: 50px;
height: 1px;
background-color: #000;
position: absolute;
top: 4px;
right: -60px;
}
#blog .blog-details a:hover{
color: #088178;
}
#blog .blog-details a:hover::after{
background-color: #088178;

}

#blog .blog-box h1{
  position: absolute;
  top: -40px;
  left: 0;
  font-size: 70px;
  font-weight: 700;
  color: #c9c9c9;
  z-index: -9;
}
















/* About page */

#page-header.about-header{
  background-image: url('img/about/banner.png');

}
#about-head{
  display: flex;
  align-items: center;
}

#about-head img{
width: 50%;
height: auto;
}

#about-head div{
  padding-left: 40px;
  width: 60%;
}
.marquee {
  box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
  border: 1px solid rgba(0, 0, 0, .15);
  background-color: #ffffff;
  overflow: hidden;
  position: relative;
  height: 50px;
  width: 100%;
  
  /* Full width of its parent */
  white-space: nowrap;
}

.marquee p {
  position: absolute;
  width: auto;
  height: 100%;
  margin: 0;
  line-height: 50px;
  text-align: center;
  /* Start off the right edge */
  transform: translateX(100%);
  /* Animate to the left */
  animation: scroll-left 20s linear infinite;
}

@keyframes scroll-left {
  0% {
      transform: translateX(100%);
  }

  100% {
      transform: translateX(-100%);
  }
}
#about-app{
  text-align: center;
}
#about-app .video{
  width: 70%;
  height: 100%;
  margin: 30px auto 0 auto;
}


#about-app .video video{
width: 100%;
height: 100%;
border-radius: 20px;
}



/* contact page */

.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}

ul {
  list-style: none;
  padding: 0;
}

.brand {
  text-align: center;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

.brand span {
  color: #ffffff;
}

.wrapper {
  box-shadow: 0 0 20px 0 rgba(57, 82, 163, 0.7);
}

.wrapper > * {
  padding: 1em;
}

/* ------------------- */
/* COMPANY INFORMATION */
/* ------------------- */

.company-info {
  background: #C3C9DD;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.company-info li
{
padding: 10px 0;
}
.company-info h3,
.company-info ul {
  text-align: center;
  margin: 0 0 1rem 0;
}

/* ------- */
/* CONTACT */
/* ------- */

.contact {
  background: #dcdfea;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* ---- */
/* FORM */
/* ---- */

.contact form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.contact form label {
  display: block;
}

.contact form p {
  margin: 0;
}

.contact form .full {
  grid-column: 1 / 3;
}

.contact form button,
.contact form input,
.contact form textarea {
  width: 100%;
  padding: 1em;
  border: solid 1px #627EDC;
  border-radius: 4px;
}

.contact form textarea {
  resize: none;
}

.contact form button {
  background: #627EDC;
  border: 0;
  color: #e4e4e4;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}

.contact form button:hover,
.contact form button:focus {
  background: #3952a3;
  color: #ffffff;
  outline: 0;
  transition: background-color 2s ease-out;
}

/* ------------- */
/* MEDIA QUERIES */
/* ------------- */

@media only screen and (min-width: 700px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .wrapper > * {
    padding: 2em;
  }

  .company-info {
    border-radius: 4px 0 0 4px;
  }

  .contact {
    border-radius: 0 4px 4px 0;
  }

  .company-info h3,
  .company-info ul,
  .brand {
    text-align: left;
  }
}